<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>381873182603-v5dl13fds7h22q8bn6u6avujvpc8315b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381873182603-v5dl13fds7h22q8bn6u6avujvpc8315b</string>
	<key>API_KEY</key>
	<string>AIzaSyAcdgPSjgcVhyev7-UxuQMLJtt0gJAkdMA</string>
	<key>GCM_SENDER_ID</key>
	<string>381873182603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fitTrackerFlutter</string>
	<key>PROJECT_ID</key>
	<string>fittrackerflutter</string>
	<key>STORAGE_BUCKET</key>
	<string>fittrackerflutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381873182603:ios:879ce466fd214d48ea418e</string>
	<key>DATABASE_URL</key>
	<string>https://fittrackerflutter-default-rtdb.firebaseio.com</string>
</dict>
</plist>